/* осн фон #F5F4FA,
цвет кнопки, Web и при наведении #2196F3,
цвет основы и подвала #2F303A,
цвет заголовков #212121,
цвет основ текста #757575, #*/

/* main */
body {
    background-color: #ffffff;
    color: #757575;
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

/* Стилизация лого */
.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-header {
    color: #212121;
}

.logo-footer {
    color: #fff;
}

/* Header */
.link-nav {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.link:hover,
.link:focus {
    color: #2196F3;
}

.contacts-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

/* Основна частина */
.main-section {
    background-color: #2F303A;
    color: #fff;
    text-align: center;
}

.order-button {
    background-color: #2196F3;
    color: #ffffff;
}

/* Перелік послуг */
.list-services h3 {
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.list-services p {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* Перелік послуг-фото */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Команда */
.section-team {
    background-color: #F5F4FA;
}

.team-job p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.team-job h3 {
    color: #212121
}

/* Нижня частина */

.footer {
    background-color: #2F303A;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF
}

.link-footer {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)
}

/* Portfolio page */

/* Buttons */
.buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.list button {
    background-color: #F5F4FA;
    color: #212121;
    font-family: 'Roboto', sans-serif;
}

.list button:hover,
.list button:focus {
    background-color: #2196F3;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/* Portfolio list */

.portfolio-list h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}